.tableName{
    padding: 0rem;
    color: white;
}

.Rutinatitle{
    font-size: 3rem;
    text-align: center;
    border-bottom: .1px solid gray;
    padding: 1rem;
}

.presto{
    font-size: 1.5rem;
    color: aquamarine;
}

@media screen and (min-width: 1000px) {
    .ocultar-div{
    display: none;
    }
    }

@media screen and (max-width: 1000px) {
    .sm-info{
        position: relative;
        width: 26rem; 
    }
    }    