@media screen and (min-width: 1000px) {
    .prestoAA{
        font-size: 1.5rem;
        height: auto;
        width: 100%;
    }    
    .prestoAARes{
        float: right;
        position: relative;
        
    }
    .AAData{
        position: relative;
        width: 100%;  
    }
    .completeMessage{
         font-size: 2rem;
         color: yellow;
         
    } 
    .prestoAAResC{
        float: right;
        position: relative;
        color: white;
        font-size: 1.5rem;
        
    }  
    .prestoAAC{
        font-size: 1.5rem;
        height: auto;
        width: 100%;
        color: aquamarine;

    }
    .PDF{
      position: absolute;
      top: 14rem;
      left: 35rem;

    }      
    }

@media screen and (max-width: 1000px) {
    .prestoAA{
        font-size: 1.5rem;
        height: auto;
        width: 100%;

    }
    .prestoAARes{
        float: right;
        position: relative;

    }
    .AAData{
        position: relative;
        width: 340%;  
    }
     .completeMessage{
        color: yellow;
        font-size: 1rem;
     }
     .prestoAAResC{
        float: right;
        position: relative;
        color: white;
        font-size: 1.5rem;
        width: auto;
    }
    .prestoAAC{
        font-size: 1.5rem;
        height: auto;
        width: 70%;
        color: aquamarine;

    } 
    }    